<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/737040/6549592/css/fonts.css" media="all">
<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

<style type="text/css">

  /*  Set the background color for the page */
  .wFormWebPage{
    background-color: none;
    margin: 0;
  }

  /* Set the background color for just the form */
  body .wForm {
    background-color: #fff;
  }

  /* Set the color and character for the required field marker */
  body .wForm .reqMark::after{
    content: " *";
    color: #cb6015;
    font-size: 100%;
  }

  /* Set the correct font for field labels */
  body .wForm .preField {
    font-family: 'Rubik', sans-serif;
  }

  /* Fix the spacing between captcha help text */
  body .wForm .captchaHelp {
    margin-top: 0em;
  }

  /* Set the color and border options for a container object */
  body .wFormContainer {
    background-color: #f8f9f7;
    border: none;
    margin: 0;
    max-width: none;
    padding: 0 15px;
    position: relative;
  }

  body .wFormContainer > div {
    background-color: #fff;
    max-width: 1200px;
    margin: auto;
  }

  /*  added by Jeff */
  body .wFormContainer::before {
    background-color: #fff;
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    height: 124px;
  }
  /*  added by Jeff */
  @media (min-width: 768px) {
  body .wFormContainer::after {
      background-color: #f2f3ed;
      content: "";
      display: block;
      left: 0;
      right: 0;
      position: absolute;
      top: 124px;
      height: 55px;
    }
  }

  /* Set the font family and styling for the form's title */
  body .wFormContainer .wFormTitle {
    font-family: 'Sentinel A', 'Sentinel B', 'Georgia', serif;
    font-weight: 700 !important;
    font-style: normal;
    text-align: center;
    color: #555 !important;
  }

  /* Set the padding, height, and justification for the header image */
  body .wFormContainer .wFormHeader {
    height: 124px;
    background-size: 288px;
    background-position: left center;
    background-origin: content-box;
    padding: 0 0 0 40px;
    position: relative;
    margin-bottom: 0;
  }

  /* Set the alignment and font for text sections on a form
     This requires specific styling because text sections get their own html blocks */
  body .htmlContent {
    vertical-align: center;
    font-family: 'Rubik', sans-serif;
  }

  /* Font and other options for form elements within a form container
     This affects things like labels, input boxes, and element spacing */
  body .wFormContainer .wForm {
    font-family: 'Rubik',sans-serif;
    font-size: 16px;
    color: #777;
    line-height: 1.8em;
    max-width: 700px;
    margin: 55px 40px 0;
    border: none;
    border-radius: 0;
    padding: 16px 0;
  }

  /* Set the border around a field set form element and set the font family */
  body .wFormContainer fieldset {
    font-family: 'Rubik', sans-serif;
    border: 1px solid #ecede8;
  }

  /* Set the font information for a field set element's title */
  body .wFormContainer fieldset legend {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Sentinel A', 'Sentinel B', 'Georgia', serif;
    font-style: normal;
    color: #555;
    padding: 10px 8px 10px 8px;
  }

  /* Sets the font size when the custom teHeadlineDescription class is invoked
     This will be invoked within a text section element as you can provide inline styling and custom classes */
  body .teHeadlineDescription {
    font-size: 24px;
  }

  /* Sets font size and padding options when custom teSectionDescription class is invoked
     This will be invoked within a text section element as you can provide inline styling and custom classes */
  body .teSectionDescription {
    font-size: 20px;
    font-weight: bold;
    padding-top: 1.8em;
  }

  /* Sets font options for user input */
  body .wForm .inputWrapper input[type=text],
  body .wForm .inputWrapper input[type=time],
  body .wForm .inputWrapper input[type=number],
  body .wForm .inputWrapper input[type=url],
  body .wForm .inputWrapper input[type=email],
  body .wForm .inputWrapper input[type=checkbox],
  body .wForm .inputWrapper input[type=password],
  body .wForm .inputWrapper textarea,
  body .wForm .inputWrapper select {
    max-width: 100%;
    border-radius: 2px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    font-family: 'Rubik',sans-serif !important;
    color: #555 !important;
  }

  /* Sets the font options for the words within add a file element */
  body .wform .inputWrapper input[type=file] {
    font-family: 'Rubik',sans-serif;
    font-size: 16px;
  }

  /* Sets the style the submit button */
  body input.primaryAction {
    -webkit-appearance: none;
    background-color: #cb6015 !important;
    font-family: 'Rubik',sans-serif !important;
    color: #fff !important;
  }

  .wFormFooter > .supportInfo {
    display: none;
  }

  /* added by Jeff */
  body .wFormFooter .supportInfo {
    box-sizing: border-box;
    border: 0;
    height: 260px;
    margin: 0;
    padding-left: 40px
  }

  /*  added by Jeff */
  #tfaContent {
    box-sizing: border-box;
    position: relative;
  }

  #tfaContent::after {
    background-color: #282a32;
    content: "";
    display: block;
    left: 0;
    right: 0;
    position: absolute;
    height: 260px;
  }

  /* Sets the style for the contact information link footer text */
  body a.contactInfoLink{
    color: #cb6015 !important;
    font-size: 17px;
  }

</style>
