<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

<style type="text/css">

  /*  Set the background color for the page */
  .wFormWebPage{
    background-color: #f8f9f7 !important;
    /*  added by Jeff */
    background-color: none;
    margin: 0;
  }

  /* Set the background color for just the form */
  .wForm {
    background-color: #fff;
  }

  /* Set the color and character for the required field marker */
  .wForm .reqMark::after{
    content: " *";
    color: #cb6015 !important;
    font-size: 100%;
  }

  /* Set the correct font for field labels */
  .wForm .preField {
    font-family: 'Rubik', sans-serif;
  }

  /* Set the color and border options for a container object */
  .wFormContainer {
    background-color: #fff;
    padding: 2em !important;
    border-color: #ecece7;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    /*  added by Jeff */
    background-color: #f8f9f7;
    border: none;
    margin: 0;
    max-width: none;
    padding: 0 15px;
  }

  /*  added by Jeff */
  .wFormContainer > div {
    background-color: #fff;
    max-width: 1200px;
    margin: auto;
  }


  /*  added by Jeff */
  .wFormContainer::before {
    background-color: #fff;
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    height: 124px;
  }
  /*  added by Jeff */
  @media (min-width: 768px) {
    .wFormContainer::after {
      background-color: #f2f3ed;
      content: "";
      display: block;
      left: 0;
      right: 0;
      position: absolute;
      top: 124px;
      height: 55px;
    }
  }

  /* Set the font family and styling for the form's title */
  .wFormContainer .wFormTitle {
    font-family: 'Sentinel A', 'Georgia', serif;
    font-weight: 700 !important;
    font-style: normal !important;
    text-align: center;
    color: #555 !important;
  }

  /* Set the padding, height, and justification for the header image */
  .wFormContainer .wFormHeader {
    background-position: center center !important;
    padding-top: 20px !important;
    height: 3em;
    /* added by Jeff */
    height: 124px;
    background-size: 288px;
    background-position: left center;
    background-origin: content-box;
    padding: 0 0 0 40px;
    position: relative;
    margin-bottom: 0;
  }

  /* Set the alignment and font for text sections on a form
     This requires specific styling because text sections get their own html blocks */
  .htmlContent {
    vertical-align: center;
    font-family: 'Rubik', sans-serif !important;
  }

  /* Font and other options for form elements within a form container
     This affects things like labels, input boxes, and element spacing */
  .wFormContainer .wForm {
    padding: 1em 0em !important;
    font-family: 'Rubik',sans-serif !important;
    font-size: 16px !important;
    color: #777 !important;
    border-color: #ecede8 !important;
    border-top-width: thin !important;
    border-left-width: thin !important;
    border-bottom-width: thin !important;
    border-right-width: thin !important;
    line-height: 1.8em !important;
/*  added by Jeff */
    max-width: 700px;
    margin: 55px 40px 0;
    border: none;
    border-radius: 0;
    padding: 16px 0;
  }

  /* added by Jeff */
  /* .wFormContainer .wForm::after {
    background-color: #f2f3ed;
    content: "";
    display: block;
    left: 0;
    right: 0;
    position: absolute;
  } */

  /* Set the border around a field set form element and set the font family */
  .wFormContainer fieldset {
    font-family: 'Rubik', sans-serif;
    border: 1px solid #ecede8;
  }

  /* Set the font information for a field set element's title */
  .wFormContainer fieldset legend {
    font-size: 20px;
    font-weight: 700 !important;
    font-family: 'Sentinel A', 'Georgia', serif;
    font-style: normal !important;
    color: #555;
    padding: 10px 8px 10px 8px;
  }

  /* Sets the font size when the custom teHeadlineDescription class is invoked
     This will be invoked within a text section element as you can provide inline styling and custom classes */
  .teHeadlineDescription {
    font-size: 24px;
  }

  /* Sets font size and padding options when custom teSectionDescription class is invoked
     This will be invoked within a text section element as you can provide inline styling and custom classes */
  .teSectionDescription {
    font-size: 20px;
    font-weight: bold;
    padding-top: 1.8em !important;
  }

  /* Sets font options for user input */
  .wForm .inputWrapper input[type=text],
  .wForm .inputWrapper input[type=time],
  .wForm .inputWrapper input[type=number],
  .wForm .inputWrapper input[type=url],
  .wForm .inputWrapper input[type=email],
  .wForm .inputWrapper input[type=checkbox],
  .wForm .inputWrapper input[type=password],
  .wForm .inputWrapper textarea,
  .wForm .inputWrapper select {
    max-width: 100%;
    border-radius: 2px;
    border-style: solid;
    border-color: #ccc !important;
    border-width: 1px;
    font-family: 'Rubik',sans-serif !important;
    color: #555;
  }

  /* Sets the font options for the words within add a file element */
  .wform .inputWrapper input[type=file] {
    font-family: 'Rubik',sans-serif !important;
    font-size: 16px !important;
  }

  /* Sets the style the submit button */
  input.primaryAction {
    -webkit-appearance: none;
    background-color: #cb6015 !important;
    font-family: 'Rubik',sans-serif !important;
    /* added by Jeff */
    /* add because something happens upon submit that makes the color revert to #777*/
    color: #fff;
  }

  /* added by Jeff */
  /*  hiding unneeded? additional support info */
  .wFormFooter + .supportInfo {
    display: none;
  }

  /* added by Jeff */
  .wFormFooter .supportInfo {
    box-sizing: border-box;
    border: 0;
    height: 260px;
    margin: 0;
    padding-left: 40px
  }

  /*  added by Jeff */
  #tfaContent {
    box-sizing: border-box;
    position: relative;
  }

  #tfaContent::after {
    background-color: #282a32;
    content: "";
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 260px;
  }

  /* Sets the style for the contact information link footer text */
  a.contactInfoLink{
    color: #cb6015 !important;
    font-size: 17px;
  }

</style>
